* {
  margin: 0;
  padding: 0;
  /* border: none; */
  box-sizing: border-box;
}

:root {
  --pastel-gray: #c9cebd;
  --malachite: #20bf55;
  --polished-pine: #6ba292;
  --tomato: #ff6542;
  --black-coral: #59656f; 
  --white-blue: #e1e8f0;
  --light-gray: #f5f4f4;
  --white: #ffffff;
}

html {
  font-size: 100%;
  font-weight: 500;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--black-coral);
}

input:focus::placeholder {
  color: transparent;
}

.mr-xs {
  margin-right: 10px;
}

.bg-light-gray {
  background-color: var(--light-gray);
}

.bg-green {
  background-color: var(--malachite);
}

.text-center {
  text-align: center;
}

.text-green {
  color: var(--malachite);
}

.text-red {
  color: var(--tomato);
}

.container {
  width: 75rem;
  max-width: 100%;
  margin: 0 auto;
}

.heading-1 {
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
  color: var(--white);
}

.add-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.item-type {
  border: 1px solid #e7e7e7;
  width: 90px;
  height: 49px;
  background-color: var(--white);
  font-size: 14px;
  color: inherit;
}

.item-type:focus {
  outline: none;
}

.description__input {
  width: 400px;
}

.amount__input {
  width: 120px;
}

.description__input, 
.amount__input {
  border: 1px solid #e7e7e7;
  background-color: var(--white);
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
  transition: border 0.3s;
}

.description__input:focus,
.amount__input:focus {
  outline: none;
  border: 1px solid var(--malachite);
}

.add-circle {
  fill: var(--malachite);
}

.add-circle:hover {
  fill: var(--polished-pine);
}

.value-btn-container {
  display: flex;
  align-items: center;
}

.btn {
  border: none;
  background: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: translateY(2px);
}

.input-item:not(:last-child) {
  margin-right: 1.2rem;
}

.items-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 80vh;
  padding: 2rem;
}

.heading {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.income-heading {
  padding: 5px;
  background-color: var(--malachite);
  color: var(--white);
}

.expense-heading {
  padding: 5px;
  background-color: var(--tomato);
  color: var(--white);
}

.balance {
  display: flex;
  justify-content: center;
  color: inherit;
  text-align: center;
  font-size: 2rem;
}

.incomes {
  width: 48%;
  padding: 3rem;
  background-color: var(--white);
}

.expenses {
  width: 48%;
  padding: 3rem;
  background-color: var(--white);
}

/* Income items */

.income__items,
.expense__items {
  margin-bottom: 2rem;
}

.item {
  padding: 20px 0 10px 0;
}

.item:first-child { 
  border-top: 1px solid #e7e7e7; 
}

.item:nth-child(even) { 
  background-color: var(--light-gray); 
}

.item__date {
  margin-bottom: 0.5rem;
}

.item__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  display: none;
  width: 20px;
  height: 20px;
}

.value {
  padding: 10px 0;
}

.income__items .value {
  color: var(--malachite);
  transition: all 0.2s;
}

.value-btn-container:hover .value {
  transform: translateX(-20px);
}

.value-btn-container:hover .delete-btn {
  display: inline-block;
}

.incomes__total,
.expenses__total {
  border-top: 1px solid #e7e7e7;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

/* Expense items */

.expense__items .value {
  color: var(--tomato);
  transition: all 0.2s;
}

@media only screen and (max-width: 768px) {
  .incomes,
  .expenses {
    flex: 100%;
  }

  .incomes {
    margin-bottom: 2rem;
  }
}